force-app/main/default/flows/Rice_Order_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Set_Rejection_Status</name>
        <label>Set Rejection Status</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submission_Status</name>
        <label>Set Submission Status</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Balance_Check</name>
        <label>Balance Check</label>
        <locationX>308</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Submission_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meets Minimum Balance</defaultConnectorLabel>
        <rules>
            <name>Below_Minimum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Balance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Minimum_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rejection_Status</targetReference>
            </connector>
            <label>Below Minimum</label>
        </rules>
    </decisions>
    <description>Validates a rice order and updates its status.</description>
    <interviewLabel>Rice Order Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rice Order Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>182</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Balance_Check</targetReference>
        </connector>
        <object>Rice_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
